h1 {
    margin-bottom: 50px;
  }

  .img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border: 2px solid red;
  }

  .books {
    display: flex;

    .book {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      button {
        padding: 3px 6px;
        background-color: white;
        cursor: pointer;
      }
      .delete {
        border: 1px solid rgb(245, 191, 191);
        color: rgb(242, 100, 100);
      }
      .update {
        border: 1px solid rgb(204, 204, 243);
        color: rgb(139, 139, 234);
      }
    }
  }

  .add-btn {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
  text-decoration: none;
}